{% extends 'base.html.twig' %}

{% import _self as self %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div>
        <p>Well well well.</p>
    </div>
{% endblock %}